# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Переменные окружения и секреты
.env
.env.local
*.key
*.pem

# VS Code
.vscode/

# macOS
.DS_Store
.DB_Store

# Логи
*.log

# Временные файлы
*.tmp
*.bak

# Базы данных
*.sqlite3
*.db

# Кэш
.cache/
# Тестирование
testing/